.orbital {
  background-color: var(--cor-6);
}

.orbital h1 {
  text-align: center;
  padding: 60px;
}

.orbital-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.orbital-cards {
  position: relative;
  border-radius: 10px;
  margin-bottom: 60px;
}

.orbital-cards img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.orbital-cards:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 330px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.orbital-cards:hover .overlay {
  opacity: 1;
}

#overlay-p {
  height: 175px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .orbital-content {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
  }

  .orbital-cards {
    flex: 0 1 calc(50% - 15px);
  }

  .orbital-cards img {
    height: 280px;
  }

  .overlay {
    height: 250px;
    margin: 15px;
  }

  #overlay-p {
    height: 60px;
  }

  .orbital h1 {
    font-size: 5rem;
    margin-bottom: 20px;
  }

  .overlay h3 {
    font-size: 1.4rem;
  }

  .overlay p {
    font-size: 1rem;
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .orbital-content {
    flex-direction: column;
    margin-top: 60px;
    gap: 40px;
  }
  .orbital-cards {
    max-width: 350px;
  }
  .orbital {
    padding: 10px;
  }

  .orbital-content {
    margin-top: 40px;
    gap: 30px;
  }

  .orbital-cards img {
    height: 250px;
  }

  .overlay {
    height: 220px;
    margin: 15px;
  }

  #overlay-p {
    height: 40px;
  }

  .orbital h1 {
    font-size: 3.2rem;
  }

  .overlay h3 {
    font-size: 1.2rem;
  }

  .overlay p {
    font-size: 0.9rem;
  }
}
